<div class="inner" style="min-height: 700px;">
    <div class="crumbs">
        <ul id="breadcrumbs" class="breadcrumb">
            <li class="active">
                <i class="icon-home"></i>
                <a href="index.html" class="active">Home</a>
            </li>
            <li>Dashboard</li>
        </ul>
    </div>
</div>